<!-- Textarea Input -->
<div class="section_question">
  <div>
    Was hälst du generell von der Veranstaltung?
  </div>
  <div>
    <textarea class="form-control" placeholder="Gut fande ich..." rows="5"></textarea>
  </div>
  <div class="alert alert-danger" role="alert">
    <div class="container">
      <div class="alert-icon">
        <i class="now-ui-icons objects_support-17"></i>
      </div>
      <strong>Fehlende Eingabe!</strong> Bitte geben Sie einen Text ein.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </span>
      </button>
    </div>
  </div>
</div>
<!-- Radiobox Selection -->
<div class="section_question">
  <div>
    Welches ist deine bevozugte Programmiersprache?
  </div>
  <div>
    <div class="radio">
        <input type="radio" name="language" id="java" value="java" checked="">
        <label for="java">
            Java
        </label>
    </div>
    <div class="radio">
        <input type="radio" name="language" id="python" value="python">
        <label for="python">
            Python
        </label>
    </div>
    <div class="radio">
        <input type="radio" name="language" id="javascript" value="javascript">
        <label for="javascript">
            JavaScript
        </label>
    </div>
    <div class="radio">
        <input type="radio" name="language" id="rust" value="rust">
        <label for="rust">
            Rust
        </label>
    </div>
    <div class="radio">
        <input type="radio" name="language" id="c++" value="c++">
        <label for="c++">
            C++
        </label>
    </div>
  </div>
</div>
<!-- Checkbox-Selection -->
<div class="section_question">
  <div>
    Welche Themen interessieren dich am meisten?
  </div>
  <div>
    <div class="checkbox">
        <input name="topics" id="architektur" type="checkbox">
        <label for="architektur">
            Architektur
        </label>
    </div>
    <div class="checkbox">
        <input name="topics" id="docker" type="checkbox" checked="">
        <label for="docker">
            Docker
        </label>
    </div>
    <div class="checkbox">
        <input name="topics" id="java9" type="checkbox">
        <label for="java9">
            Java 9
        </label>
    </div>
    <div class="checkbox">
        <input name="topics" id="scrum" type="checkbox">
        <label for="scrum">
            Scrum
        </label>
    </div>
  </div>
</div>
