<div class="page-header page-header-clara">
  <div class="page-header-image" data-parallax="true" style="background-image: url('../../assets/now-ui/img/bg1.jpg');">
  </div>
  <nav class="navbar navbar-expand-lg navbar-transparent">
      <div class="container">
          <div class="navbar-translate">
              <a class="navbar-brand" href="#clara">
                 Project Clara 2017.01 BETA
             </a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">
                          Startseite
                      </a>
                  </li>
                  <cla-auth-landing-page></cla-auth-landing-page>
              </ul>
          </div>
      </div>
  </nav>
  <div class="container">
    <div class="content-center">
      <h1 class="title">{{title}}</h1>
    </div>
  </div>
</div>
