 <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../../assets/now-ui/img/bg1.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">Project Clara</h1>
                </div>
            </div>
        </div>
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-20 ml-auto mr-auto text-left">
                        <h2 class="title">Survey X</h2>
                        <h5 class="description">This survey contains... bla bla</h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>

<div class="checkbox">
    <input id="checkbox1" type="checkbox">
    <label for="checkbox1">
        Unchecked
    </label>
</div>

<div class="checkbox">
    <input id="checkbox2" type="checkbox" checked="">
    <label for="checkbox2">
        Checked
    </label>
</div>

<div class="checkbox">
    <input id="checkbox3" type="checkbox" disabled="">
    <label for="checkbox3">
        Disabled unchecked
    </label>
</div>

<div class="checkbox">
    <input id="checkbox4" type="checkbox" checked="" disabled="">
    <label for="checkbox4">
        Disabled checked
    </label>
</div>

<div class="col-sm-4">
    <div class="form-group">
        <input type="text" value="" placeholder="Regular" class="form-control">
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group has-success">
        <input type="text" value="Success" class="form-control form-control-success">
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group has-danger">
        <input type="email" value="Error Input" class="form-control form-control-danger">
    </div>
</div>

<div class="col-sm-4">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-user-circle"></i>
        </span>
        <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
    </div>
</div>



<textarea class="form-control" placeholder="Here can be your nice text" rows="5"></textarea>

        <div class="alert alert-success" role="alert">
  <div class="container">
    <div class="alert-icon">
      <i class="now-ui-icons ui-2_like"></i>
    </div>
    <strong>Well done!</strong> You successfully read this important alert message.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
    </button>
  </div>
</div>

<div class="alert alert-danger" role="alert">
  <div class="container">
    <div class="alert-icon">
      <i class="now-ui-icons objects_support-17"></i>
    </div>
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
    </button>
  </div>
</div>

<div class="radio">
    <input type="radio" name="radio1" id="radio1" value="option1">
    <label for="radio1">
        Radio is off
    </label>
</div>

<div class="radio">
    <input type="radio" name="radio1" id="radio2" value="option2" checked="">
    <label for="radio2">
        Radio is on
    </label>
</div>

<div class="radio">
    <input type="radio" name="radio3" id="radio3" value="option3" disabled="">
    <label for="radio3">
        Disabled radio is off
    </label>
</div>

<div class="radio">
    <input type="radio" name="radio4" id="radio4" value="option4" checked="" disabled="">
    <label for="radio4">
        Disabled radio is on
    </label>
</div>


<button class="btn btn-primary">Abschicken</button>

<button class="btn btn-primary">Abbrechen</button>
        </div>
