 <div class="wrapper">
 <cla-header></cla-header>
  <div class="section">
    <div class="container">
      <cla-survey></cla-survey>

      <!-- Buttons -->
      <div class="text-right">
        <button class="btn btn-primary">Absenden</button>
        <button class="btn btn-primary">Abbrechen</button>
      </div>
      <!-- Info Area -->
      <div class="section_question">
        <div class="alert alert-info" role="alert">
          <div class="container">
            <div class="alert-icon">
              <i class="now-ui-icons travel_info"></i>
            </div>
             <strong>Information</strong> Diese Umfrage wird anonymisiert gespeichert!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </span>
            </button>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
